/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     text-align: center;
     display: flex;
     align-items: center;
     flex-direction: column;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     
}


/******************************************
/* LAYOUT
/*******************************************/

form {
     width: 80%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
input {
     margin: 20px 0;
     width: 50%;
     height: 100%;
}
header {

}

footer {

}

/******************************************
/* SYLLABLES
/*******************************************/

#line1Syllables, #line2Syllables, #line3Syllables {
    
     margin: 10px;
     margin-top: 15px;
     padding: 10px;
     height: 100%;
     
}